/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/image_banners
/images
.idea
/.idea
/public/image_products
/public/image_banners
/public/providers_logo